# Neo4j driver for Python
neo4j

# Pydantic for environment configuration
pydantic
pydantic-settings

# python-dotenv to load environment variables
python-dotenv

# Jupyter for interactive notebooks
jupyterlab
notebook

# HTTP client for API interactions with LLMs
requests

# Image library
pillow

# For working with LangChain or similar LLM frameworks (if applicable)
langchain

# Langchain version of LLMs
langchain-experimental
langchain-community
langchain_openai
langchain-mistralai
langchain-google-genai
langchain-groq

# SDK for LLMs or other agents
gigachat
wikipedia

# Proxy socks
httpx[socks]

# Redis & Celery
redis
celery[redis]
aioredis